.tabs {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: transparent;
  padding: 0;
  border-radius: 5px;
  width: 100%; /* Ensure it takes the full width */
  max-width: 100%; /* Prevent horizontal overflow */
  overflow-x: auto;
  flex-wrap: nowrap;
  box-sizing: border-box; /* Ensure padding and borders don't affect the total width */
}

.tab {
  flex-shrink: 1;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: #ddd;
}

.tab.active {
  background-color: #393939;
  color: white;
}
